<% content_for(:title, t('.title')) %>
<div class="container mb-5 pt-2 user-index">
  <h1><%= t('.title') %></h1>
  <div class="row">
    <div class="col-md-12">
        <%= render @users %>
    </div>
  </div>
</div>
