<% if object.errors.any? %>
  <div class="alert alert-danger", id="error_messages">
    <ul class="mb-0">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>