<footer id='footer' class='footer-bottom py-4 bg-dark text-light'>
  <div class='container'>
    <ul class='nav justify-content-center mb-3'>
      <li class='nav-item me-auto'>
        <a class="nav-link" style="color: white"><small>Copyright &copy;2021 Reptiles_log, All Rights Reserved.</small></a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#' style="color: white">お問い合わせ</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#' style="color: white">プライバシーポリシー</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#' style="color: white">免責事項</a>
      </li>
    </ul>
  </div>
</footer>