<div class='footer-bottom py-4'>
  <div class='container'>
    <span class="copy-light"><small> &copy; レプログ!</small></span>
    <ul class='footer-menu'>
      <li>
        <%= link_to t('contacts.new.title'), new_contact_path %>
      </li>
      <li>
        <%= link_to "プライバシーポリシー", privacy_path %>
      </li>
      <li>
        <%= link_to "利用規約", service_path %>
      </li>
    </ul>
  </div>
</div>