<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"><%= l @event.logged_at, format: :long %>
        <%= link_to reptile_event_path(@reptile, @event), class: 'delete-icon', method: :delete, data: { confirm: "#{l @event.logged_at, format: :long}の記録を削除しますか？" }, remote: true do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
      </button>
    </div>
    <div class="modal-body">
      <%= render 'logs/logs', log: @event %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" id="fetch" data-bs-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>

<%# ===== 画像のモーダル時のグレー背景 ==================================================== %>
<div id="grayDisplay"></div>
