$("#error_messages").remove();
<% if @event.errors.present? %>
  $('#new_event').prepend("<%= j(render('shared/error_messages', object: @event)) %>");
<% else %>
  $('.modal-body').html("<h3>登録が完了しました</h3>");
<% end %>