modalObj.hide();
$('.response-modal-body').html('<h1>登録が完了しました</h1>');
let responseModal = document.getElementById('response-modal');
let responseModal = new Modal(modal);
responseModal.show();
// 一度フォームのmodalを閉じて、成功の文面をもう一つのmodalの中に入れてそのmodalを表示する