$('.response-modal-body').html('<h1>時間設定が間違っています</h1>');
let responseModal = document.getElementById('response-modal')
let responseModal = new Modal(modal)
responseModal.show();
// 登録フォームを残したまま、エラーの内容を入れる