<% if@reptile.user == current_user %>
<span class="edit_link">
  <%= link_to edit_reptile_path(@reptile) do %>
    <i class="fas fa-edit"></i>
    <span>編集</span>
  <% end %>
  <%= link_to reptile_path(@reptile), method: :delete, data: { confirm: t('defaults.message.delete_confirm') } do %>
    <i class="fas fa-trash"></i>
    <span>削除</span>
  <% end %>
<span>
<% end %>