<% if@reptile.user == current_user %>
<div class="log mt-3">
  <%= link_to new_reptile_log_path(@reptile), class: 'btn btn-primary' do %>
    <i class="fas fa-plus"></i>
    <span>記録する</span>
  <% end %>
  <%= link_to reptile_logs_path(@reptile), class: 'btn btn-success' do %>
    <i class="fas fa-stream"></i>
    <span>タイムライン</span>
  <% end %>
  <%= link_to reptile_events_path(@reptile), class: 'btn btn-success' do %>
    <i class="fas fa-calendar"></i>
    <span>カレンダー</span>
  <% end %>
  <%= link_to reptile_charts_path(@reptile), class: 'btn btn-success' do %>
    <i class="fas fa-chart-line"></i>
    <span>グラフ</span>
  <% end %>
</div>
<% end %>