<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <h1><%= t('.title') %></h1>
  <div class="row">
    <div class="col">
      <% if @reptiles.present? %>
        <%= render @reptiles %>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end %>
    </div>
  </div>
  <!-- ページネーション -->
  <div class="row">
    <div class="col-md-12">
    <%= paginate @reptiles, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>