<% content_for(:title, t('.title')) %>
<div class="container pt-3 reptile_new">
  <div class="col-12">
    <h1><%= t('.title') %></h1>
      <div class="row">
      <%= render 'form', { reptile: @reptile } %>
      </div>
  </div>
</div>