<h3>お問い合わせ内容</h3>

<p>---------------------------</p>

<p>お名前: <%= @contact.name %></p>

<p>メールアドレス: <%= @contact.email %></p>

<p>お問い合わせ内容: <%= @contact.message %></p>

<p>---------------------------</p>