//Webサイト全体のベーススタイル
@import 'variables';

body {
  // フッター固定用-------------------------
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  .container {
    flex: 1;
  }
  // フッター固定用--------------------------
  @media screen and (max-width: 479px) {
    .footer-bottom {
    height: 100px;
    }
  }
  
  // 背景カラー
  background: #e8cbc0;
  background: linear-gradient(to right, #f2f1dd, #f7f9f6);
  min-height: 100vh;
  
  // テキスト選択させない
  user-select: none;

  .container {
    max-width: 960px;
  }


  .image {
    overflow: hidden;
  
    img{
      width:100%;
      height: 100%;
      object-fit:cover;
    }
  }

  .avatar {

    img {
      width:100%;
      height: 100%;
      object-fit:cover;
      border-radius: 50%;
    }

    i{
      margin: 0;
      width:100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
    }
    
  }

  h1 {
    font-size: 32px;
    position: relative;
    padding-left: 1.2em;
    // padding-bottom: 1rem;
    line-height: 1.4;
    letter-spacing: 0.05rem;
    color: $font-color;
    margin: 1.6rem 0;
    // border-bottom: thick double #fcccd4;
    position: relative;
    padding: 0.3em;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 7px;
      background: repeating-linear-gradient(-45deg, $borderline-color, $borderline-color 2px, white 2px, white 4px);
    }
  }
  h1:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1em;
    color: $icon-color;
  }
  h2:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1em;
    color: $icon-color;
  }
  h1.user::before {
    content: "\f2bd";
  }
  h1.reptile::before {
    content: url('https://api.iconify.design/mdi/snake.svg?color=%237eb63f&width=37&height=37');
    vertical-align: middle;
    position: relative;
    bottom: -0.1em;
  }
  h1.log::before {
    content: "\f055";
  }
  h1.timeline::before {
    content: url('https://api.iconify.design/clarity/timeline-line.svg?color=%237eb63f&width=38&height=38');
    vertical-align: middle;
    position: relative;
    bottom: -0.1em;
  }
  h1.calendar::before {
    content: "\f133";
  }
  h1.chart::before {
    content: "\f201";
  }
  h1.user_new::before {
    content: "\f0e0";
  }
  h1.sign-in::before {
    content: "\f2f6";
  }
  h1.law::before {
    content: "\f0e3";
  }
  h1.privacy::before {
    content: "\f21b";
  }
  h1.contact_icon::before {
    content: "\f199";
  }
  h1.password-apply::before {
    content: "\f023";
  }
  h1.password-reset::before {
    content: "\f3c1";
  }

  h2.timeline::before {
    content: url('https://api.iconify.design/clarity/timeline-line.svg?color=%237eb63f&width=33&height=33');
    // vertical-align: middle;
    position: relative;
    bottom: -0.3em;
    margin-right: 0.5rem;
  }
  h2.calendar::before {
    content: "\f133";
    margin-right: 0.5rem;
  }
  h2.chart::before {
    content: "\f201";
    margin-right: 0.5rem;
  }

  h5 {
    background: linear-gradient(transparent 80%, $borderline-color 80%);
  }

  p:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1em;
    color: $font-color;
  }

  p.question::before {
    content: "\f059";
    margin-right: 0.5rem;
  }
  p.user::before {
    content: "\f2bd";
    margin-right: 0.5rem;
  }

  a {
    text-decoration: none;
  }

  #avatar_btn{
    display: block;
    max-width:14rem;
    padding: 0.5rem;
    margin: 1rem auto;
    background: #fff;
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  li {
    margin: 0;
  }
  
  textarea {
    line-height: 1.6;
    letter-spacing: 0.1;
  }
}

.user_pagenate {
  padding-bottom: 30px;
}

.pagination {
  .page-item.active {
    .page-link {
      background-color: #9ccc6c;
      border-color: #9ccc6c;
    }
  }
  .page-link {
    color: $font-color;
    &:hover {
      color: $font-color;
    }
  }
}


// プライバシーポリシー
.privacy_policy {
  .contents {
    .content {
      word-wrap: break-word;
    }
  }
}


.c-error-message {
  color: red;
}