// カレンダーに関するスタイル
@import 'variables';

#calendar {
  td.fc-day {
    background-color: rgb(245, 241, 241);
  }

  td.fc-day-today {
    background-color: rgb(249, 255, 170);
  }

  th.fc-day-sat {
    background-color: #eaf4ff;
  }
  th.fc-day-sun {
    background-color: #ffeaea;
  }
  th.fc-day-sat .fc-col-header-cell-cushion {
    color: blue;
  }
  th.fc-day-sun .fc-col-header-cell-cushion{
    color: red;
  }
  td.fc-day-sat {
    background-color: #eaf4ff;
  }
  td.fc-day-sun {
    background-color: #ffeaea;
  }
  .fc-col-header-cell-cushion {
    color: black;
  }
  .fc-daygrid-day-number {
    color: black;
  }
  td.fc-day-sat .fc-daygrid-day-number {
    color: blue;
  }
  td.fc-day-sun .fc-daygrid-day-number {
    color: red;
  }
  td.fc-timegrid-slot {
    height: 2.5em !important;
    border-bottom: 0 !important;
  }
  a {
    text-decoration: none;
  }
  .fc-daygrid-event-dot {
    // display: none;
  }
  .fc-event-time {
    // display: none;
    overflow: hidden;
  }
  .fc-daygrid-event-harness {
    // display: none;
    overflow: hidden;
  }
}
.holiday-event {
  pointer-events:none;
  .fc-event-title {
    display:none;
  }
}

// show modal
#modal {
  .modal-content {
    .modal-header {
      h5 {
        background: none;
      }
    }
  }
  .course-item {
    img {
    width: 100px;
    height: 100px;
    }
  }
}


// new modal
.event-log-form {
  .images_form{
    display: none;
  }

  .image_field {
    display: flex;
    flex-wrap: wrap;
    width: auto;


    .preview_size {
      height: 120px;
      width: 120px;
    }
  }
}


.calendar-index {
  padding-bottom: 70px;
  .left_column{
    img, div{
      height: 104px;
      width: 104px;
      border-radius: 50%;
      background: $border-color;
      margin-bottom: 2rem;
    }

    .reptile_name {
      font-size: 1.8rem;
      font-weight: bold;
    }

    a {
      text-decoration: none;
      color: inherit;
  
      &:hover {
        color: $font-color;
      }
  
      .reptile_name:hover{
        color: $vivid-hover;
        transition: all 0.5s;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .modal-dialog{
    // display: flex;
    // align-items: center;
    // min-height: 100%;
    padding-top: 20%;
  }
}