$footer-hover-color: #5454ff;

//ーーーーーーーー フッターーーーーーーー

html {
  position: relative;
  min-height: 100%;
  background-color: white;
}
body {
  margin-bottom: 100px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  figure:hover {
    color: $footer-hover-color;
  }
  .active {
    figure {
      color: $footer-hover-color;
    }
  }
}