// 記録に関するスタイル
@import 'variables';
// log_new 記録画面
.log_new {
  padding: 1rem 1rem 2rem;
  overflow: hidden;
  .image {
    height: 192px;
    width: 192px;
    margin: auto;
    background: $border-color;
    border-radius: 50%;
    width: 160px;
    height: 160px;
  }
  .name-space {
    a {
      text-decoration: none;
      color: inherit;
      .name {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.2;
        color: $font-color;
        width: auto;
        &:hover{
          color: $vivid-hover;
          transition: all 0.3s;
        }
      }
    }
  }

  .images_form{
    display: none;
  }

  .image_field {
    display: flex;
    flex-wrap: wrap;
    width: auto;


    .preview_size {
      height: 120px;
      width: 120px;
    }
  }

  .feed_count-column {
    margin-left: .1rem;
  }
  .js-remove-log_feeds-btn {
    margin-left: .6rem;
    color: #0d6dfd;
  }
  .js-add-log_feeds-field-btn {
    color: #0d6dfd;
    &.disabled {
      color: #a4c1ec;
    }
  }

  .logged_at-area, .remark-area, .condition-area, .feed-area, .shit-area, .creaning-area, .handling-area, .shit-area, .bath-area, .weight-area, .length-area, .temperature-area, .humidity-area, .images-area {
    border-top: solid 2px #aec9a3;
  }

  @media screen and (min-width: 767px) {
    .name-space {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

#images_btn{
  display: block;
  max-width:10rem;
  padding: 0.3rem;
  // margin: 1rem auto;
  text-align: center;
}
.file-btn-content {
  width: 160px;
}

// _log_feeds_fields.html.erb
.feed-area {
  .feed_image-area {
    ul li:nth-of-type(n+1) {
      display: none;
    }
  }
}

// _logs.html.erb

.smile {
  margin-top: 0.5rem;
  svg {
    color: rgb(199, 10, 10);
    font-size: 30px;
  }
}

.meh {
  margin-top: 0.5rem;
  svg {
    color: rgb(230, 187, 0);
    font-size: 30px;
  }
}

.tired {
  margin-top: 0.5rem;
  svg {
    color:rgb(1, 47, 248);
    font-size: 30px;
  }
}
.shit {
  .good {
    margin-top: 0.5rem;
    svg {
      color: rgb(184, 124, 13);
      font-size: 25px;
    }
  }

  .bad {
    margin-top: 0.5rem;
    svg {
      color: rgb(108, 131, 8);
      font-size: 25px;
    }
  }
}

.crean {
  margin-top: 0.5rem;
  svg {
    color: rgb(1, 47, 248);
    font-size: 25px;
  }
}

.hand {
  margin-bottom: 0.5rem;
  svg {
    color: rgb(250, 220, 121);
    font-size: 25px;
  }
}

.bath {
  margin: 0.5rem 0 0.5rem;
  color: rgb(10, 216, 243);
  font-size: 25px;
}

p {
  margin-bottom: 0;
}

.weight, .length, .temperature, .humidity {
  margin: 0.1rem 0;
}
.weight {
  svg {
    margin-right: 0.3rem;
    color: #3a32a8;
  }
}
.length {
  svg {
    color: #ff5078;
  }
}
.temperature {
  svg {
    margin-left: 0.3rem;
    margin-right: 0.5rem;
    color: #fc5e03;
  }
}
.humidity {
  img {
    filter: invert(84%) sepia(30%) saturate(5750%) hue-rotate(137deg) brightness(105%) contrast(108%);
  }
}
.remark {
  svg {
    color: #035549;
  }
}

// 共通の餌に関するスタイル
.pink-mouse {
  margin-top: 0.5rem;
  path:nth-child(2) {
    fill: #f1bb99;
  }
  path:nth-child(3) {
    fill: #f1bb99;
  }
  path:nth-child(4) {
    fill: #f1bb99;
  }
}

.fuzzy-mouse {
  margin-top: 0.5rem;
  path:nth-child(2) {
    fill: #dfc8b6;
  }
  path:nth-child(3) {
    fill: #dfc8b6;
  }
  path:nth-child(4) {
    fill: #dfc8b6;
  }
}

.hopper-mouse {
  margin-top: 0.5rem;
  path:nth-child(2) {
    fill: #cfc9c1;
  }
  path:nth-child(3) {
    fill: #cfc9c1;
  }
  path:nth-child(4) {
    fill: #cfc9c1;
  }
}

.adult-mouse {
  margin-top: 0.5rem;
  path:nth-child(2) {
    fill: #b9b6b4;
  }
  path:nth-child(3) {
    fill: #b9b6b4;
  }
  path:nth-child(4) {
    fill: #b9b6b4;
  }
}

.retire-mouse {
  margin-top: 0.5rem;
  path:nth-child(2) {
    fill: #9b9b9b;
  }
  path:nth-child(3) {
    fill: #9b9b9b;
  }
  path:nth-child(4) {
    fill: #9b9b9b;
  }
}

.pink-rat {
  margin-top: 0.5rem;
  path:nth-child(2) {
    fill: #f1bb99;
  }
  path:nth-child(3) {
    fill: #f1bb99;
  }
  path:nth-child(4) {
    fill: #f1bb99;
  }
  path:nth-child(7) {
    fill: #f1bb99;
  }
}

.fuzzy-rat {
  margin-top: 0.5rem;
  path:nth-child(2) {
    fill: #dfc8b6;
  }
  path:nth-child(3) {
    fill: #dfc8b6;
  }
  path:nth-child(4) {
    fill: #dfc8b6;
  }
  path:nth-child(7) {
    fill: #dfc8b6;
  }
}

.hopper-rat {
  margin-top: 0.5rem;
  path:nth-child(2) {
    fill: #cfc9c1;
  }
  path:nth-child(3) {
    fill: #cfc9c1;
  }
  path:nth-child(4) {
    fill: #cfc9c1;
  }
  path:nth-child(7) {
    fill: #cfc9c1;
  }
}

.adult-rat {
  margin-top: 0.5rem;
  path:nth-child(2) {
    fill: #b9b6b4;
  }
  path:nth-child(3) {
    fill: #b9b6b4;
  }
  path:nth-child(4) {
    fill: #b9b6b4;
  }
  path:nth-child(7) {
    fill: #b9b6b4;
  }
}

.retire-rat {
  margin-top: 0.5rem;
  path:nth-child(2) {
    fill: #9b9b9b;
  }
  path:nth-child(3) {
    fill: #9b9b9b;
  }
  path:nth-child(4) {
    fill: #9b9b9b;
  }
  path:nth-child(7) {
    fill: #9b9b9b;
  }
}

.cricket, .cockroach {
  margin-top: 0.5rem;
  filter: invert(40%) sepia(36%) saturate(599%) hue-rotate(345deg) brightness(97%) contrast(93%);
}

.worm {
  margin-top: 0.5rem;
  filter: invert(47%) sepia(75%) saturate(414%) hue-rotate(359deg) brightness(91%) contrast(86%);
}

.vegetable {
  margin-top: 0.5rem;
  filter: invert(60%) sepia(55%) saturate(1726%) hue-rotate(92deg) brightness(103%) contrast(106%);
}

.apple {
  margin-top: 0.5rem;
  filter: invert(8%) sepia(72%) saturate(7420%) hue-rotate(347deg) brightness(99%) contrast(122%);
}

.chick {
  margin-top: 0.5rem;
  filter: invert(98%) sepia(60%) saturate(5160%) hue-rotate(324deg) brightness(89%) contrast(107%);
}

.cricket, .cockroach {
  margin-top: 0.5rem;
  filter: invert(40%) sepia(36%) saturate(599%) hue-rotate(345deg) brightness(97%) contrast(93%);
}


//  log_index   飼育タイムライン
.log_index {
  padding-bottom: 60px;
  margin-bottom: 3rem;
  .right-column {
    img{
      height: 104px;
      width: 104px;
      border-radius: 50%;
      background: $border-color;
      margin-bottom: 2rem;
    }
    .name {
      text-decoration: none;
      color: $font-color;
    }
    .log_btn {
      font-size: 1.2rem;
      margin-left: 1rem;
    }
    .name-link {
      .reptile_name {
        font-size: 1.8rem;
        font-weight: bold;
      } 
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          transition: all 0.5s;
          color: $font-color;
        }
        .reptile_name:hover{
          transition: all 0.5s;
          color: $vivid-hover;
        }
      }
    }
  }

  .content{
    border-top: solid 1px #eeeeee;
    padding: 0.7rem 0.7rem;
    
    .text-gray {
      color: #999;
    }

    .edit-icon {
      margin-left: 0.3rem;
      text-decoration: none;
    }
  }

  .course-item span{
    img {
    // width: 100%;
    width: 100px;
    height: 100px;
    }
    &:hover {
      // opacity: 0.8;
      cursor: pointer;
    }
  }
}

#grayDisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* コンテンツ全てに対して固定的に 1160pxとか指定されているときの対応で、
  ダサいが!importantつける */
  max-width: 100% !important;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#grayDisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  height: 80%;
  object-fit: contain;
}

.log-paginate {
  nav.pagination {
    display: none;
  }
}
.scroll-list {
  padding: 0;
}

.condition-container {
  display: flex;
  align-items: center;
  .radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    //set dimensions for invisible container
    .input-container {
      position: relative;
      //make actual radio input invisible
      // + stretch to fill container
      .radio-button {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer;
      }
  
      //default tile styles
      .radio-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
        transition: transform 300ms ease;
      }
      .icon svg {
        fill: $primary-color;
        width: 2.5rem;
        height: 2.5rem;
        color: #999;
      }
      .radio-tile-label {
        text-align: center;
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #999;
      }
  
      //active tile styles
      .radio-button:checked + .radio-tile {
        color: white;
        transform: scale(1.1, 1.1);
        
        .icon svg {
          fill: white;
          &.fa-smile {
            color: rgb(199, 10, 10);
          }
          &.fa-meh {
            color: rgb(230, 187, 0);
          }
          &.fa-tired {
            color: blue;
          }
        }
        .radio-tile-label {
          color: white;
          &.smile {
            color: rgb(199, 10, 10);
          }
          &.meh {
            color: rgb(230, 187, 0);
          }
          &.tired {
            color: rgb(1, 47, 248);
          }
        }
      }
    }
  }
}


.shit-container {
  display: flex;
  align-items: center;
  .radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    //set dimensions for invisible container
    .input-container {
      position: relative;
      //make actual radio input invisible
      // + stretch to fill container
      .radio-button {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer;
      }
  
      //default tile styles
      .radio-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
        transition: transform 300ms ease;
      }
      .icon svg {
        fill: $primary-color;
        width: 2.5rem;
        height: 2.5rem;
        color: #999;
      }
      .radio-tile-label {
        text-align: center;
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #999;
      }
  
      //active tile styles
      .radio-button:checked + .radio-tile {
        color: white;
        transform: scale(1.1, 1.1);
        
        .icon svg {
          fill: white;
          &.good {
            color: rgb(184, 124, 13);
          }
          &.bad {
            color: rgb(108, 131, 8);
          }
        }
        .radio-tile-label {
          color: white;
          &.good {
            color: rgb(184, 124, 13);
          }
          &.bad {
            color: rgb(108, 131, 8);
          }
        }
      }
    }
  }
}


.sheding-container {
  display: flex;
  align-items: center;
  .radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    //set dimensions for invisible container
    .input-container {
      position: relative;
      //make actual radio input invisible
      // + stretch to fill container
      .radio-button {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer;
      }
  
      //default tile styles
      .radio-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
        transition: transform 300ms ease;
      }
      .icon svg {
        fill: $primary-color;
        width: 2.5rem;
        height: 2.5rem;
      }
  
      //active tile styles
      .radio-button:checked + .radio-tile {
        color: white;
        transform: scale(1.1, 1.1);
        
        .icon.shed-icon {
          svg {
            rect {
              fill: #7F35B9;
            }
          }
        }
        .icon.white-icon {
          svg {
            rect {
              fill: #E99737;
            }
          }
        }
      }
    }
  }
}

.creaning-container {
  margin: .3rem 0 1rem 1rem;
  .checkbox {
    display: none;
  }
  .checkbox-fontas {
    position: relative;
    vertical-align: middle;
    font-size: 33px;
    cursor: pointer;
  }
  .checkbox + .checkbox-fontas:before {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: '\f51a';
    color: #999;
  }
  .checkbox:checked + .checkbox-fontas:before {
    color: rgb(1, 47, 248);
  }
}

.handling-container {
  margin: 0 0 1rem 1rem;
  .checkbox {
    display: none;
  }
  .checkbox-fontas {
    position: relative;
    vertical-align: middle;
    font-size: 33px;
    cursor: pointer;
  }
  .checkbox + .checkbox-fontas:before {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: '\f4bd';
    color: #999;
  }
  .checkbox:checked + .checkbox-fontas:before {
    color: rgb(250, 220, 121);
  }
}

.bath-container {
  margin: .7rem 0 1rem 1rem;
  label {
    .checkbox {
      display: none;
    }
    .checkbox-fontas {
      line-height: 20px;
      position: relative;
      vertical-align: middle;
      font-size: 33px;
      cursor: pointer;
    }
    .checkbox + .checkbox-fontas:before {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      content: '\f2cd';
      color: #999;
    }
    .checkbox:checked + .checkbox-fontas:before {
      color: rgb(10, 216, 243);
    }
  }
}

#grayDisplay {
  z-index: 5;
}