// ユーザープロフィールに関するスタイル

@import 'variables';

.user_profile {
  padding: 1rem 1rem 2rem;
  overflow: hidden;
  .avatar {
    margin-bottom: 2rem;
    height: 152px;
    width: 152px;
    margin: auto;
    background: $border-color;
    border-radius: 50%;
  }
  .name-space {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    .name {
      font-size: 2rem;
      color: $font-color;
      font-weight: bold;
      padding-right: 4rem;
      line-height: 2.2;
    }
    .crud_menus {
      .edit_link {
        font-size: 1.2rem;
      }
    }
  }
  #image_btn{
    display: block;
    max-width:10rem;
    padding: 0.3rem;
    margin: 1rem auto;
    background: #fff;
  }
  .image_form{
    display: none;
  }

  .count {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 1rem;
  }
  .btn-area {
    text-align: center;
  }

  .details {
    color: $font-color;
    .detail-content {
      display: flex;
      align-items: center;
      .text-area {
        .icon-text {
          font-size: 11px;
        }
      }
    }
    .comment {
      padding: .5rem 0;
      border-top: solid 2px #aec9a3;
      border-bottom: solid 2px #aec9a3;
    }
    svg {
      margin-right: .5rem;
      font-size: x-large;
      color: #aec9a3;
    }
    .icon-text {
      color: #aec9a3;
    }
    .text-none {
      color: $textnone-color;
    }
  }
}

.follow_status {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0;
}

.is_attention.card {
  border: 1px solid #f3c7c5;
}

ul.text-list li {
  list-style: inside;
  margin-left: 1.4em;
  text-indent: -1.4em;
}

@media screen and (min-width: 767px) {
  .user_profile {
    .name-space {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      // .name {
      //   font-size: 2rem;
      //   color: $font-color;
      //   font-weight: bold;
      //   padding-right: 4rem;
      //   line-height: 2.2;
      // }
      .crud_menus {
        a {
          // margin-right: 0.6rem;
          // font-size: 1.2rem;
        }
      }
    }
  }
}
