// 爬虫類に関するスタイル

@import 'variables';

// reptile _form
.reptile_profile {
  .attention {
    color:$vivid-color;
  }
  
  .hidden {
    display: none;
  }
  
  .disable input,.disable select{
    pointer-events : none;
    background: #cccccc;
  }
  
  #image_btn{
    display: block;
    max-width:10rem;
    padding: 0.3rem;
    margin: 1rem auto;
    background: #fff;
  }
  .image_form{
    display: none;
  }
}

// reptiles/_reptile
.reptiles_list {
  
  .content {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: 2rem;
    border: solid 1px #DAD8D4;
    overflow: hidden;
  }

  .left_column{
    width: 104px;
    padding-right:3rem;

    img, div{
      display: block;
      height: 104px;
      width: 104px;
      border-radius: 50%;
      background: $border-color;
    }
  }

  .right_column{
    display: block;
    height: auto;
    width:100%;
    margin-left: 2rem;

    .reptile_comment{
      padding: 0.2rem 0 0.8rem;
    }

    span{
      display: block;
    }
  }

  .reptile_name{
    font-size: 1.8rem;
    font-weight: bold;
  }

  .reptile_morph{
    font-size: 1.4rem;
    color: $font-color-light;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $font-color;
    }
  }

  a .reptile_name:hover{
    color: $vivid-hover;
  }
}

// reptiles/show
.reptile_profile {
  overflow: hidden;
  padding: 3rem 0;
  

  .image {
    height: 192px;
    width: 192px;
    margin: auto;
    background: $border-color;
    border-radius: 50%;
    width: 160px;
    height: 160px;
  }

  .name {
    font-size: 2rem;
    font-weight: bold;
    display: table-cell;
    padding-right: 4rem;
    line-height: 2.2;
  }
}