// 検索機能に関するスタイル
.seach_container {
  box-sizing: border-box;
  .input {
    background: #ccddf5;
    border: none;
    height: 35px;
    &:focus {
      outline: 0;
    }
  }
}

.search_wrapper {
  margin-bottom: 1.0rem;
}
