@import 'top';
@import 'reptile';
@import 'variables';

// フッター固定用
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}


.image {
  overflow: hidden;

  img{
    width:100%;
    height: 100%;
    object-fit:cover;
  }
}