// トップページに関するスタイル
@import 'variables';

body {
  main {
    .top-wrapper {
      margin: auto;
      width: 100vw;
      height: 100vh;

      background-position: center;
      .contents {
        .top-inner-text {
          text-align: center;
          img.pc-replog-top {
            display: none;
          }
          img.sp-replog-top  {
            display: block;
            object-fit: cover;
            height: 100vh;
            width: 100%;
          }
        }
        .btn-wrapper {
          margin-top: 230px;
          text-align: center;
          .btn-square-so-pop {
            width: 100%;
            margin-bottom: 15px;
          }
          .btn-guest-square-so-pop {
            width: 100%;
          }
        }
      }
    }

    .explanation-wrapper {
      max-width: 960px;
      margin: 0 0.3rem;
      margin-bottom: 75px;
      h2 {
        margin: 2rem 0;
        text-align: center;
        font-weight: 500;
      }
      p.red {
        font-size: 22px;
        color: red;
      }
    }

    .middle-wrapper {
      max-width: 960px;
      margin: 0 0.3rem;
      .middle_title {
        text-align: center;
        margin: 50px 0 20px;
      }
      .contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        // 最後の要素以外に余白を追加
        &:not(:last-child) {
          margin-bottom: 50px;
        }
        &:nth-child(odd) {
          flex-direction: column;
          
        }
        .image_contents {
          width: 100%;
          height: 250px;
          padding-bottom: 30px;


          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
        }
        .text-contents {
          width: 100%;
          
          h2 {
            font-size: 24px;
            padding: 10px 0;
          }
          p {
            line-height: 1.5;
          }
        }
      }
    }

    .message-wrapper {
      max-width: 960px;
      margin: 0 0.3rem;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      .btn-wrapper {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .reve_btn {
          margin-top: 15px;
          width: 100%;
        }
        .guest_btn {
          margin-top: 15px;
          width: 100%;
        }
      }
    }
  }
}


h2.label {
  position: relative;
  background: #d0e9e3;
  box-shadow: 0px 0px 0px 5px #d0e9e3;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
  &:after {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: #fff #fff #d0e7e2;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
}

h2.check {
  position: relative;/*相対位置*/
  padding: 0.5em 0.5em 0.5em 1.5em;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  color: $font-color;/*文字色*/
  border-top: dotted 1px gray;
  border-bottom: dotted 1px gray;
  background: #fffff4;
  &:before {
    font-family: "Font Awesome 5 Free";/*忘れずに*/
    content: "\f058";/*アイコンのユニコード*/
    font-weight: 900;
    position: absolute;/*絶対位置*/
    font-size: 1em;/*サイズ*/
    left: 0.6em;/*アイコンの位置*/
    top: 0.5em;/*アイコンの位置*/
    color: $highlight-color; /*アイコン色*/
  }
}





@media screen and (min-width: 767px) {
/* 768px以上用（タブレット・PC用）の記述 */
  body {
    main {
      .top-wrapper {
        margin: auto;
        background-image: image-url("replog_top_v4_cover.png");
        background-size: cover;
        width: 100vw;
        height: 100vh;
        background-position: center;
        .contents {
          .top-inner-text {
            img.pc-replog-top {
              display: block;
              margin: 0 auto;
              max-width: 2045px;
              height: 100vh;
              width: 100%;
              object-fit: cover;
            }
            img.sp-replog-top  {
              display: none;
            }
          }
        }
      }

      .btn-wrapper {
        .login_btn {
          text-align: center;
        }
        .guest-login_btn {
          text-align: center;
        }
      }

      .explanation-wrapper {
        max-width: 960px;
        margin: 0 auto;
        margin-bottom: 75px;
        p.red {
          font-size: 24px;
          text-align: center;
        }
      }

      .middle-wrapper {
        max-width: 960px;
        margin: 0 auto;
        .contents {
          flex-direction: row;
          justify-content: space-between;
          align-items: normal;

          &:nth-child(odd) {
            flex-direction: row-reverse;
          }
          .image_contents {
            width: 38%;
            align-items: center;
            padding-right: 10px;
          }
          .text-contents {
            width: 58%;
          }
        }
      }

      .message-wrapper {
        max-width: 960px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        .btn-wrapper {
          .reve_btn {
            width: 50%;
          }
          .guest_btn {
            width: 50%;
          }
        }
        h2.check {
          position: relative;/*相対位置*/
          padding: 0.5em 0.5em 0.5em 2em;/*アイコン分のスペース*/
          line-height: 1.4;/*行高*/
          color: $font-color;/*文字色*/
          border-top: dotted 1px gray;
          border-bottom: dotted 1px gray;
          background: #fffff4;
          &:before {
            font-family: "Font Awesome 5 Free";/*忘れずに*/
            content: "\f058";/*アイコンのユニコード*/
            font-weight: 900;
            position: absolute;/*絶対位置*/
            font-size: 1em;/*サイズ*/
            left: 2.0em;/*アイコンの位置*/
            top: 0.5em;/*アイコンの位置*/
            color: $highlight-color; /*アイコン色*/
          }
        }
      }

    }
  }
}