body {
  background-color: #f2f2f2;

  .top-wrapper {
    height: calc(100vh - 134px);
    position: relative;
    background-position: center;
  
    .top-inner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 3rem;
      color: #0EB784;
  
      @media screen and (min-width: 767px) {
        font-size: 5rem;
      }

      h1 {
        margin-top: 4rem;
        
      }
    }
  }
}

