// 変数をまとめておくファイル

$base-color: #F2F5F6;
$middium-color: #8D99AF;
$thema-color: #DE3A5D;
$vivid-color: #FF436B;
$vivid-hover: #ff7a97;
$dark-color: #B82C5C;
$font-color: #412B2D;
$font-color-light: #8D99AF;
$font-placeholder: #cccccc;
$icon-color: #ff938b;
$border-color: #DAD8D4;
$focus-color: #33C3F0;
$focus-hover: #74ddfc;
$hover_box: #F2F5F6;
