// 変数をまとめておくファイル

$base-color: #F2F5F6;
$middium-color: #8D99AF;
$thema-color: #DE3A5D;
$vivid-color: #FF436B;
$vivid-hover: #ff7a97;
$dark-color: #B82C5C;
$font-color: #2a3a30;
$font-color-light: #8D99AF;
$font-placeholder: #cccccc;
$icon-color: #7eb63f;
$border-color: #DAD8D4;
$focus-color: #33C3F0;
$focus-hover: #74ddfc;
$hover_box: #F2F5F6;
$btn_hover: #f73535;
$drawer-color: #f0845c;
$drawer-background-color: #defcee;
$borderline-color: #9ccc6c;
$highlight-color: #ff6a6a;