@import 'bootstrap';
@import 'top';
@import 'font-awesome-sprockets';
@import 'font-awesome';


$vivid-color: #FF436B;


// フッター固定用
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}


// reptile _form
.attention {
  color:$vivid-color;
}

.hidden {
  display: none;
}

.disable input,.disable select{
  pointer-events : none;
  background: #cccccc;
}